/* Easily change the colors for your preference  */
$color1: #ccc; 
$color2: #6b6b6b;
$color3: #7c9cb1;
$color4: #f2f2f2;

body {
background-color: $color1;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid $color2; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: $color3;
    color: $color4;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Change the submit button color on hover */
  input[type=submit]:hover {
    background-color: $color2;
  }
  
  /* Add a background color, padding and center the form */
  .container {
    width: 500px;
    position: absolute;
    border-radius: 5px;
    background-color: $color4;
    padding: 20px;
    top: 35%;  /* To center */
    left: 50%; /* To center */
    transform: translate(-50%, -50%); /* To center */
  }