$color1: #ced7d8;
$color2: #316879;
$color3: #ec7054;
$color4: #6b6b6b;

body{
  background-color: $color1;
}  

ion-icon {
  font-size: 40px;
  color: $color2;
  border-radius: 20px;
}

h1 {
  text-align: center;
  color: $color3;
  font-family: "Georgia", Times, serif;
}
img {
  width: 125px;
  height: 150px;
  border-radius: 15px;
  margin-left: 37.5px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container > div {
  background-color: $color2;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  width: 200px;
  height: 400px;
  border-radius: 15px;
  margin-bottom: 150px;
  font-family: "Arial", Helvetica, sans-serif;
}
.main_paragraph {
  text-align: center;
  color: $color3;
  font-size: 22px;
  font-family: "Georgia", Times, serif;
}
p {
  color: $color3;
  font-size: 20px;
  font-family: "Arial", Helvetica, sans-serif;
}

#icons {
  text-decoration: none;
  margin-left: 75px;
  font-size: 30px;
  margin: 0 5px;
  transition: color 0.2s;
  text-align: center;  
}

#icons :hover {
  color: $color4;
}