$color1: #ced7d8;
$color2: #316879;
$color3: #ec7054;
$color4: #6b6b6b;

/* Dropdown Button */
.dropbtn {
  color: $color2;
  padding: 20px;
  font-size: 20px;
  border: none;
  background-color: $color1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  font-family: "Arial", Helvetica, sans-serif;
  min-width: 100px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: $color2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: $color3;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: $color3;
border-radius: 10px;}

  /* Background image */
  .hero-image {
    background-image: url("###"); /* Add image here */
    background-color: $color1; /* Used if the image is unavailable */
    width: 100%;
    height: 900px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

    /* To center everething */
.hero-text {
    text-align: center;
    position: absolute;
    top: 35%; 
    left: 50%;
    transform: translate(-50%, -50%);
    }

    /* For small screens */
  .mobile {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    text-align: center;
    color: $color2;
    font-family: "Georgia", Times, serif;
    text-shadow: 2px 2px 4px $color2;
    margin-bottom: 80px;
  }

  p {
    text-align: center;
    color: $color3;
    font-family: "Arial", Helvetica, sans-serif;
    width: 1000px;
  }

  .mobile_h1 {
    display: none;
  }

  .mobile_p {
    display: none;
  }


  #icons {
    text-decoration: none;
    font-size: 40px;
    margin: 0 5px;
    transition: color 0.2s;
    text-align: center;
    position: relative;
    margin-bottom: 0px;
  }
  
  #icons :hover {
    color: $color3;
  }

   /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
  h1{
      display: none;
    }
  p {
      display: none;
    }
  .hero-image{ 
     background-image: none;
     background: linear-gradient(to bottom, $color1 10%, $color4 90%);

  }
  .mobile_h1 {
    display: block;
    text-align: center;
    font-size: 25px;
    color: $color2;
    margin-bottom: 100px;
  }
  .mobile_p {
    display: block;
    text-align: center;
    font-size: 21px;
    color: $color3;
    margin-bottom: 50px;
  }
  #icons {
    color: $color2;
    margin-top: 400px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  h1 {
    font-size: 30px;
    }
  p {
    font-size: 20px;
   }
#icons {
    color: $color1;
    margin-top: 500px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 35px;
    }
  p {
    font-size: 20px;
    }
  #icons {
      color: $color1;
      margin-top: 600px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 35px;
    }
  p {
    font-size: 30px;
    }
  #icons {
      color: $color1;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 40px;
    }
  p {
    font-size: 35px;
    }
  #icons {
      color: $color1;
    }
}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

  /* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (min-width: 992px)  {
  /* For larger devices: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}